.home {
	min-height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

.about_p {
	font-size: 1.6em!important;
	margin-top: 1em;
}

.about_h {
	font-size: 2.6em!important;
	font-weight: 600;
}

.servicios {
	font-size : 15px;
	text-align: justify;
}

.servicio_title {
	font-size: 2.6em!important;
	font-weight: 600;
}

.servicio_description {
	font-size: 1.3em!important;
	color : rgb(70, 70, 70);
	font-weight: 600;
}
.noLink {
	text-decoration: none;
}

