.mapouter {
    position:relative;
    text-align:right;
    height:300px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:rgb(211, 211, 211)!important;
    height:300px;
    width:100%;
}