header.masthead h1, header.masthead .h1 {
    font-weight: 600;
}

.home_title {
    font-weight: 600;
}

.notHome {
    height: 50vh!important;
    min-height: 30rem!important;
    background-position: initial!important;
}
